@keyframes up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Content {
  animation: up 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}
